<html> 
    <head> 
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:,">


        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet" crossorigin="anonymous">

        <!-- jquery -->
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">


        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        <script src="{{ url_for('static', filename='function.js') }}"></script>

        <title>Plant</title>



    </head>

    <body> 

        <div class="container text-center mt-5">
            <h1>Welcome to Plant </h1>
            <a href="/learn/1" class="btn btn-success btn-lg mt-3">Start Learning</a>
        </div>

    </body>

</html>