{% extends "base.html" %}

{% block title %}Snake Plant - Fun Facts{% endblock %}

{% block content %}
<div class="plant-facts-container">
    <h1>Peace Lily</h1>
    
    <div class="facts-modal">
        <div class="modal-header">
            <a href="{{ url_for('peace_lily') }}" class="close-button">&times;</a>
        </div>
        
        <div class="facts-content">
            <ul class="facts-list">
                <li>a popular houseplant known for its elegant white flowers and lush green leaves, symbolizing peace, purity, and tranquility. </li>
                <li>popular choice for gift-giving during times of mourning, as well as for decorating homes and office spaces</li>
            </ul>
            
        </div>
    </div>
</div>
{% endblock %}