{% extends "base.html" %}

{% block title %}{{ plant.name }} - Lighting Placement{% endblock %}

{% block content %}
<div class="plant-lighting-container">
    <h1>{{ plant.name }}</h1>
    
    <div class="lighting-modal">
        <div class="modal-header">
            <a href="{{ url_for('plant_detail', plant_id=plant_id) }}" class="close-button">&times;</a>
        </div>
        
        <div class="lighting-content">
            <img src="{{ url_for('static', filename='images/' + plant.image) }}" alt="{{plant.image_alt}}" class="lighting-diagram">
            
            <a href="{{ url_for('try_yourself') }}" class="try-button">Try it yourself</a>
        </div>
        
        
    </div>
</div>
{% endblock %}