{% extends "base.html" %}

{% block title %}Snake Plant - Care and Information{% endblock %}

{% block content %}
    <h1>Snake Plant</h1>
    
    <div class="plant-detail">
        <div class="plant-image-container">
            <img src="{{ url_for('static', filename='images/snake-plant.jpg') }}" alt="Snake plant" class="plant-detail-image">
        </div>
        
        <div class="plant-info">
            <a href="{{ url_for('snake_lighting') }}" class="info-button">Lighting placement</a>
            
            <a href="{{ url_for('snake_facts') }}" class="info-button">Fun facts</a>
        </div>
    </div>
    
    <div class="navigation-buttons">
        <a href="{{ url_for('plants') }}" class="nav-button">return</a>
        <a href="{{ url_for('peace_lily') }}" class="nav-button">next</a>
    </div>
{% endblock %}